from datetime import datetime
from pathlib import Path

{% if random_spawns %}
from sorrel.examples.{{ project_name_lower }}.entities import SpawningEmptyEntity
{% else %}
from sorrel.entities.basic_entities import EmptyEntity
{% endif %}
from sorrel.examples.{{ project_name_lower }}.env import {{ project_name }}Env
from sorrel.examples.{{ project_name_lower }}.world import {{ project_name }}World
from sorrel.utils.logging import {{ logger_type }}


def main():
    # Basic configuration
    config = {
        "experiment": {
            "epochs": 1000,
            "max_turns": 100,
            "record_period": 50,
            {% if logger_type == "TensorboardLogger" %}
            "log_dir": Path(__file__).parent / "./{{ log_dir }}" / datetime.now().strftime("%Y-%m-%d %H-%M-%S"),
            {% endif %}
        },
        "model": {},
    }

    {% if random_spawns %}
    world = {{ project_name }}World(default_entity=SpawningEmptyEntity())
    {% else %}
    world = {{ project_name }}World(default_entity=EmptyEntity())
    {% endif %}
    env = {{ project_name }}Env(world, config)

    # Configure logger
    {% if logger_type == "TensorboardLogger" %}
    logger = {{ logger_type }}(
        config["experiment"]["epochs"],
        config["experiment"]["log_dir"],
        {% for measure in log_measures %}"{{ measure }}",
        {% endfor %}
    )
    {% else %}
    logger = {{ logger_type }}(
        config["experiment"]["epochs"],
        {% for measure in log_measures %}"{{ measure }}",
        {% endfor %}
    )
    {% endif %}

    print("Environment created successfully!")
    print(f"World Size: {world.height}x{world.width}")

    env.run_experiment(
        output_dir=Path(__file__).parent / "./data",
        logger=logger,
    )


if __name__ == "__main__":
    main()
