from sorrel.examples.{{ project_name_lower }}.env import {{ project_name }}Env
from sorrel.examples.{{ project_name_lower }}.world import {{ project_name }}World
from omegaconf import OmegaConf

def main():
    # Basic configuration
    config = OmegaConf.create({
        "agent": {
            "agent": {
                "num": {{ num_agents }},
                "obs": {"vision": {{ vision }}, "n_frames": 1}
            }
        },
        "experiment": {"layout": "default"}
    })
    
    world = {{ project_name }}World()
    env = {{ project_name }}Env(world, config)
    
    print("Environment created successfully!")
    print(f"World Size: {world.height}x{world.width}")
    
    obs = env.reset()
    print("Reset successful.")
    
    # Run a few steps
    for _ in range(10):
        env.take_turn()
    for agent in env.agents:
        print(agent.model.memory.actions[0:agent.model.memory.idx])

if __name__ == "__main__":
    main()
