# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDE stuff
.vscode/
.idea/

# OSX stuff
.DS_Store

# Output files
output/
logs/
gem/.DS_Store
examples/RTP/data/
*.txt
examples/trucks/runs/
examples/trucks/notebooks/runs/
examples/trucks/models/checkpoints/
examples/trucks/data/
examples/RPG/runs/
examples/RPG/notebooks/runs/
examples/RPG/models/checkpoints/
examples/RPG/data
gem/.DS_Store
examples/cleanup/data/
examples/cleanup/runs/
pyvenv.cfg
/bin
/share
*.4
*.4
*.2
*.3
*.2
*.2
*.2
examples/state_punishment/runs/20241120-20111732154104/Encounters_Food/events.out.tfevents.1732154104.SocialAIs-Mac-Studio-3.local.46395.3
examples/state_punishment/runs/20241120-20111732154104/Encounters_Food/events.out.tfevents.1732154104.SocialAIs-Mac-Studio-3.local.46395.3
examples/state_punishment/runs/20241120-20111732154156/Encounters_Coin/events.out.tfevents.1732154156.SocialAIs-Mac-Studio-3.local.46437.2
examples/state_punishment/runs/basic_sanity_check_20241122-12111732296101/events.out.tfevents.1732296101.SocialAIs-Mac-Studio-3.local.67967.0
examples/state_punishment/runs/basic_sanity_check_20241122-12111732296101/Agent_0_Encounters_Gem/events.out.tfevents.1732296101.SocialAIs-Mac-Studio-3.local.67967.1
*.gif
*.pkl
*.csv
*.png
*.1
examples/state_punishment/runs/state_reward_with_vote_twoAs_20241123-21111732415220/events.out.tfevents.1732415220.SocialAIs-Mac-Studio-3.local.3482.0
*.6
*.0
*.5
*.12
*.10
*.11
*.14
*.8
*.7
*.9
*.17
*.18
*.13
*.15
*.16
examples/state_punishment/configs/records/fixed_punishment_rate_1.0_oneAs_size16_gem_has_value_epsilon0.01_onehot_5channel_config_backup.yaml
examples/state_punishment/configs/config_fixed_rate_no_vote.yaml
/examples/state_punishment/runs
examples/state_punishment/configs/records/test_clear_detection_3agents_simple_actions_v0_config_backup.yaml
examples/state_punishment/configs/records/test_clear_detection_3agents_simple_actions_v0_config_backup.yaml
