---
ci:
  skip: [pyright]  # pyright is not run in CI, only locally
  # using the pyright mirror with additional dependencies times out
  # need to standardize venv in repo if we want to use it in CI

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black-jupyter
        language_version: python3.12
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/PyCQA/docformatter
    # temporary workaround as the docformatter people won't create a new release
    # for error: "expected one of ... but got: 'python_venv'"
    rev: v1.7.7
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
        args: ["--in-place", "--config", "./pyproject.toml", "--black"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        # TODO: remove `--keep-runtime-typing` option
        args: ["--py37-plus", "--keep-runtime-typing"]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright"]
        args:
          - --project=pyproject.toml
  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.401
  #   hooks:
  #   - id: pyright
  #     additional_dependencies: ["matplotlib", "numpy", "pyyaml", "pytest", "torch", "jax", "flax", "hydra-core", "dill", "ipython", "pillow", "tensorboard"]
